@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.tableBody {
    margin-top: 0px;
    background-color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.tableCard {
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    padding: 2rem;
}

.tableButton {
    background-color: rgb(36, 203, 200);
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: rgb(164, 169, 176);
}

td,
th {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: rgb(205, 228, 239);
}